body {
  background: linear-gradient(
    123.5deg,
    rgb(244, 219, 251) 29.3%,
    rgb(255, 214, 214) 67.1%
  );
  font-family: "Kode Mono", monospace;
}
a {
  color: rgb(196, 212, 244);
}

.container {
  max-width: 550px;
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  color: rgb(196, 212, 244);
  margin: 80px auto;
  padding: 45px;
  border: none;
  border-radius: 20px;
}
.location {
  font-size: 25px;
}
.current-weather {
  display: flex;
  justify-content: space-between;
}
.icon {
  font-size: 80px;
}
.temperature {
  font-size: 80px;
}
.search-form {
  margin-top: 15px;
}
.search-form-input {
  padding: 15px;
  border: none;
  border-radius: 4px;
}
.search-button {
  padding: 15px;
  border: none;
  border-radius: 4px;
  background: linear-gradient(
    123.5deg,
    rgb(244, 219, 251) 29.3%,
    rgb(255, 214, 214) 67.1%
  );
  color: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.weather-forecast-date {
  text-align: center;
}
.weather-forecast-icon {
  text-align: center;
  font-size: 50px;
}
.min-temp {
  opacity: 0.6;
}
hr {
  color: inear-gradient(
    123.5deg,
    rgb(244, 219, 251) 29.3%,
    rgb(255, 214, 214) 67.1%
  );
}
footer {
  font-size: 11px;
  text-align: center;
  padding-bottom: 30px;
}
